@import "../base/typography.scss";
@import "../base/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plp_hero {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
}

.plp_hero img {
  height: 40%;
  width: 100vw;
  object-fit: cover;
}
